<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Public/just.css">
    <title></title>
  </head>
  <body>
    {{~user}}
    <h1>{{Kai Paddon}}</h1>
    <p>kpaddong</p>
    <img src="{{https://robohash.org/omnisexpeditased.bmp?size=150x150&set=set1}}"/>
    {{~skills}}
    <p>"pfSense","NCover","Federal Law Enforcement"</p>
    {{/skills}}
    {{~job}}
    <p>{{null}}</p>
    {{/job}}
    {{/user}}

  </body>
</html>
